<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/index-DXMezGB5.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/__federation_fn_import-ofDdBDNE.js">
    <link rel="modulepreload" crossorigin href="/assets/Title.vue_vue_type_script_setup_true_lang-B3AwNeA-.js">
    <link rel="modulepreload" crossorigin href="/assets/InterestBadge.vue_vue_type_script_setup_true_lang-D9kVq5QA.js">
    <link rel="modulepreload" crossorigin href="/assets/ProfileImage.vue_vue_type_script_setup_true_lang-BPmeCRZu.js">
    <link rel="modulepreload" crossorigin href="/assets/IconButton.vue_vue_type_script_setup_true_lang-C-Q21x5E.js">
    <link rel="modulepreload" crossorigin href="/assets/Main.vue_vue_type_script_setup_true_lang-BAnvfDyE.js">
    <link rel="modulepreload" crossorigin href="/assets/EventListView.vue_vue_type_script_setup_true_lang-3MLcpkKQ.js">
    <link rel="modulepreload" crossorigin href="/assets/EventDetailView.vue_vue_type_script_setup_true_lang-ChRaFKF0.js">
    <link rel="modulepreload" crossorigin href="/assets/EventCreateView.vue_vue_type_script_setup_true_lang-C3JJ1z-p.js">
    <link rel="stylesheet" crossorigin href="/assets/Title-3ZqffCXQ.css">
  </head>
  <body>
    <div id="event-plugin"></div>
  </body>
</html>
